<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div>
		<ul>
			{% for area in page_object.object_list %}{# 等价于 {% for area in page_object %} #}
			<li>{{ area.atitle }}</li>
			{% endfor %}
		</ul>
		{# 设置上一页 #}
		{% if page_object.has_previous %}
			<a href="/show_area{{ page_object.previous_page_number }}">&lt;上一页</a>
		{% endif %}

		{# 设置分页页码 #}
		{% for pindex in page_object.paginator.page_range %}{# 通过 page_object.paginator 中的 page_range 获取到总页数 #}
		{% if pindex == page_object.number %}
			{{ pindex }}
		{% else %}
			<a href="/show_area{{ pindex }}">{{ pindex }}</a>
		{% endif %}
		{% endfor %}

		{# 设置下一页 #}
		{% if page_object.has_next %}
			<a href="/show_area{{ page_object.next_page_number }}">下一页&gt;</a>
		{% endif %}
	</div>
</body>
</html>