<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>url反向解析</title>
</head>
<body>
    index链接：
    <a href="/index">首页</a><br>
    使用url反向解析生成index链接：
    <a href="{% url 'booktest:index' %}">首页</a><br>
    /show_args/1/2:
    <a href="/show_args/1/2">/show_args/1/2</a><br>
    动态产生/show_args/1/2：
    <a href="{% url 'booktest:show_args' 1 2 %}">/show_args/1/2</a><br>
    /show_kwargs/3/4:
    <a href="/show_kwargs/3/4">/show_args/3/4</a><br>
    动态产生/show_kwargs/3/4：
    <a href="{% url 'booktest:show_kwargs' c=3 d=4 %}">/show_args/3/4</a><br>
</body>
</html>